 /*
  * Palette
  * ========================================================================== */
 
 /*
  * Basic Colors
  * ========================================================================== */
 
  $blue: #00f;
  $red: #f00;
  $white: #fff;
  $black: #2F2F2F;
  $gray: #F9F9F9;
  
  /*
   * Mixing Colors
   * ========================================================================== */
  $text-color: $black;
  $inverted-text-color: $white;