/*
 * Fonts
 * ========================================================================== */

$font-family: Inter, Helvetica, sans-serif;
$font-family-title: Lora, Helvetica, serif;
 
$body-font: $font-family;
$body-font-weight: 400;
 
$header-font: $font-family-title;
 
$basic-font-size: 62.5%;
$paragraph: 1.6rem;
$line-height: 150%;
 