@use 'colors';
@use 'fonts';

/**
 * Typography
 */

html,
body {
	font-family: fonts.$body-font;
	font-weight: fonts.$body-font-weight;
}

html {
	font-size: fonts.$basic-font-size;
}

body {
	color: colors.$text-color;
	font-size: fonts.$paragraph;
	line-height: fonts.$line-height;
}

h1,
h2,
h3 {
	font-family: fonts.$header-font;
	font-weight: 600;
}

html,
button,
input,
select,
textarea {
	color: colors.$text-color;
}

a {
	color: colors.$text-color;
	text-decoration: none;

	&:visited {
		outline: 0;
	}

	&:focus,
	&:active,
	&:hover {
		text-decoration: underline;
		outline: 0;
	}
}

i,
em {
	font-style: italic;
}

b,
strong {
	font-weight: bold;
}

.br {
	display: block;
}
